<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

   <h:body>
<center>
<h:form>
<h:panelGrid columns="2" cellpadding="7" >
<h:outputLink value="classroom/create-classroom.xhtml">Create Classroom</h:outputLink>
<h:outputLink value="student/create-student.xhtml">Create Student</h:outputLink>
</h:panelGrid>
</h:form>
</center>
</h:body>  
   
</html>